
/*头部样式*/
#head{
	width:100%;
	height:80px;

}

/*头部第一个盒子样式*/
#head nav{
	width:100%;
	height:28px;
	margin:0px auto;
	position:relative;
}
#head nav>a>img{
	display:none;
	position:absolute;
	top:5px;
	left:5px;
}

#head nav ul li{
	width:50px;
	height:28px;
	float:right;
	font-size:14px;
	line-height:28px;
}
#head nav ul li:nth-child(3){
	width:110px;
}
#head nav ul li a{
	color:#333;
}
#head nav ul li a:hover{
	color:#337ab7;
	text-decoration:underline;
}
/*头部第一个盒子结束*/




/*头部导航栏样式*/
#head .head-foot{
	width:100%;
	height:50px;
	margin:5px;
	position:relative;
	display:flex;
}
#head .head-foot>a>img:nth-of-type(1){
	margin:2px 0 0 10px;
	float:left;
}
#head .head-foot>i{
	
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	left:95.5%;
	top:10px;
	background:url(images/hw1_sprite.png) no-repeat -35px -70px;
}
/*#head .head-foot .h-f-top:after:hover{
	background:url(images/hw1_sprite.png) no-repeat 0px -70px;
}*/
#head .head-foot .h-f-top{
	width:70%;
	height:48px;
	float:left;
	margin-left:60px;
	display:flex;
	/*position:relative;*/

}
#head .head-foot .h-f-top>li{
	height:40px;
	float:left;
	font-size:16px;
	font-weight:500px;
	text-align:center;
	line-height:46px;
	margin-left:20px;
}
#head .head-foot .h-f-top>li:hover{
	border-bottom:3px solid #e22835;
}
#head .head-foot .h-f-top>li a:hover{
	color:#e22835;
}
#head .head-foot .h-f-top>li>a>span{
	background:#eef;
	width:90px;
	height:42px;
	float:left;
	font-size:16px;
	font-weight:500px;
	text-align:center;
	line-height:46px;
	padding-left:10px;
	position:relative;
}
#head .head-foot .h-f-top>li>a>span:before{
	content:'';
	display:block;
	width:18px;
	height:20px;
	position:absolute;
	top:16px;
	background:url(images/user_icon.png) no-repeat 5px 0px;
}
#head .head-foot .h-f-top>li:nth-child(1):hover a>span:before{
	content:'';
	display:block;
	width:18px;
	height:20px;
	position:absolute;
	top:13px;
	background:url(images/user_icon.png) no-repeat 0px -14px;
}
#head .head-foot .h-f-top>img{
	position:absolute;
	top:47px;
	left:220px;
}
#head .head-foot .h-f-top li a{
	color:#323232;
}
#head .head-foot .h-f-top li>a>span:hover{
	background:#dd0011;
	border-bottom:2px solid #e22835;
	display:block;
}
#head .head-foot .h-f-top>li:nth-child(1) a:hover{
	color:#fff;
}



/*头部导航栏样式结束*/
